.grid-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 40vh;
    width: 40vh;
    min-width: 275px;
    min-height: 275px;
    max-width: 500px;
    max-height: 500px;
}

.item {
    border: 1px solid white;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    font-family: sans-serif;
}